# Ignore hidden files/directories by default
.*
!.gitignore
!.github/
!.github/**

# dependencies
node_modules/

# build outputs
/dist/
/web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android


# Playwright
playwright-report/
test-results/

